[data-vanilla-toast] {
    --success: 118 70% 55%;
    --success-foreground: 43 90% 4%;
    --error: 0 69% 50%;
    --error-foreground: 43 90% 4%;
    --info: 196 73% 51%;
    --info-foreground: 43 90% 4%;
    --warn: 65 76% 52%;
    --warn-foreground: 43 90% 4%;
}

[data-toast-container][data-theme="dark"] [data-vanilla-toast] {
    --success: 120 17% 24%;
    --success-foreground: 43 90% 4%;
    --error: 0 82% 15%;
    --error-foreground: 45 100% 96%;
    --info: 196 81% 11%;
    --info-foreground: 45 100% 96%;
    --warn: 67 72% 38%;
    --warn-foreground: 43 90% 4%;
}

@media (prefers-color-scheme: dark) {
    [data-toast-container][data-theme="system"] [data-vanilla-toast] {
        --success: 120 17% 24%;
        --success-foreground: 43 90% 4%;
        --error: 0 82% 15%;
        --error-foreground: 45 100% 96%;
        --info: 196 81% 11%;
        --info-foreground: 45 100% 96%;
        --warn: 67 72% 38%;
        --warn-foreground: 43 90% 4%;
    }
}
