[data-toast-container][data-position-x="left"] [data-vanilla-toast] {
    left: 0;
}

[data-toast-container][data-position-x="center"] [data-vanilla-toast] {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

[data-toast-container][data-position-x="right"] [data-vanilla-toast] {
    right: 0;
}

[data-toast-container][data-position-y="top"] [data-vanilla-toast] {
    --lift: 1;

    top: 0;
    bottom: auto;
}

[data-toast-container][data-position-y="bottom"] [data-vanilla-toast] {
    --lift: -1;

    bottom: 0;
    top: auto;
}