.toast-top-right {
    top: 0;
    right: 0;
}

.toast-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toast-top-left {
    top: 0;
    left: 0;
}

.toast-bottom-right {
    bottom: 0;
    right: 0;
}

.toast-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toast-bottom-left {
    bottom: 0;
    left: 0;
}