
[data-vanilla-toast] {
    --toast-border-width: 1px;
    --toast-border-style: solid;
    --toast-border-color: transparent;

    --toast-loading-color: #000;

    --toast-height: 1.5rem;

    --toast-padding: 0.5rem 1rem;

    --toast-radius: 0.5rem;

    --toast-background-color: #fff;
    --toast-text-color: #000;

    --toast-align-items: center;

    --toast-title-font-weight: 700;

    --toast-shadow-color: hsla(0, 0%, 2%, 0.25);
    --toast-box-shadow: 0px 4px 12px var(--toast-shadow-color);

    --toast-ease: ease-in;

    --toast-success: #77DD77;
    --toast-success-foreground: #000;

    --toast-info: #b7cbf5;
    --toast-info-foreground: #000;

    --toast-error: #ff6961;
    --toast-error-foreground: #000;

    --toast-warn: #FDFD96;
    --toast-warn-foreground: #000;

    --toast-transform-origin: center;

    --toast-close-button-width: 1.25rem;
    --toast-close-button-height: 1.25rem;

    --toast-close-button-vertical-padding: 0.25rem;
    --toast-close-button-horizontal-padding: 0.25rem;

    --toast-close-button-border-radius: 100%;

    --toast-icons-stroke-width: 2.5px;
}

.dark [data-vanilla-toast],
html[style='color-scheme: dark;'] [data-vanilla-toast] {
    --toast-border-color: #fff;

    --toast-loading-color: #fff;

    --toast-success: #062E03;
    --toast-success-foreground: #fff;

    --toast-info: #00035B;
    --toast-info-foreground: #fff;

    --toast-error: #840000;
    --toast-error-foreground: #fff;

    --toast-warn: #d5b60a;
    --toast-warn-foreground: #000;

    --toast-background-color: #000;
    --toast-text-color: #fff;

    --toast-close-button-border: 1px solid gray;
}

.toast-loading {
    border-radius: 100%;
    border: 1px solid var(--toast-text-color);
    border-right-color: gray;
}
