@import "./normalize.css";
@import "./header.css";
@import "./hero.css";
@import "./guide.css";

:root {
    --foreground: 223 47% 3%;
    --background: 0 0% 100%;
    --primary: 49 53% 20%;
    --secondary: 231 54% 95%;
    --accent: 49 53% 55%;
}

.dark {
    --foreground: 223 47% 97%;
    --background: 0 0% 0%;
    --primary: 49 53% 80%;
    --secondary: 231 54% 5%;
    --accent: 49 53% 45%;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
}

button,
a {
    color: inherit;
    background-color: inherit;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    border-color: hsl(var(--accent));

    cursor: pointer;
}

a {
    text-decoration: none;
    text-underline-offset: 4px;
}

a:hover {
    text-decoration: underline;
}

a.no-hover-effect:hover {
    text-decoration: none;
}

button:focus-visible,
a:focus-visible,
input:focus-visible {
    outline: 2px hsl(var(--accent));
    outline-offset: 2px;
}

button {
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

.container {
    max-width: 1400px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

.logo {
    font-size: 1.25rem;
}

main {
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;

    gap: 5rem;
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 30rem;
}

#features ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    font-size: 1.175rem;
}

#features {
    position: relative;
}

#features::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: -1;

    background-color: hsl(var(--accent) / 0.25);
    inset: 0;
    margin: auto;

    border-radius: 100%;

    opacity: 0.5;
}

@media screen and (min-width: 769px) {
    #features::before {
        width: 60%;
        height: 95%;
    }
}

@media screen and (min-width: 1024px) {
    #features::before {
        width: 40%;
        height: 100%;
    }
}

#features h1 {
    color: hsl(var(--primary));
}

#features ul li {
    padding: 0.5rem 0.75rem;
}

.user-nav-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#change-theme[aria-pressed="true"] {
    background-color: rgba(0, 0, 0, 0.253);
}

.user-nav-container.desktop {
    display: none;
}

@media screen and (min-width: 769px) {
    .user-nav-container.desktop {
        display: flex;
    }

    .container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
